.containerCards {
  margin-bottom: 32px;
  padding: 0px 20px;
}

.categoryTitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productsRow {
  display: flex;
  gap: 12px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-behavior: smooth;
  padding: 10px 10px;

}

/* impede os cards de encolher */
.productsRow > * {
  flex: 0 0 auto;
}

.productsRow::-webkit-scrollbar {
  height: 6px;
}

.productsRow::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.productsRow {
  scroll-snap-type: x mandatory;
}

.productsRow > * {
  scroll-snap-align: start;
}

.notHasProdutsToPurchase {
    text-align: center;
    margin-top: 2rem;
    color: #cd3284;
    text-decoration: none;
    margin: 20px 20px;
    font-weight: 600;
    font-size: 26px;
    position: relative;
}